<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>HALL | Step into the magic circle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        {% load staticfiles %}
        <link rel="stylesheet" href={% static 'assets/css/style.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/fonts/stylesheet.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/font-awesome.min.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/bootstrap.min.css' %}>
            <script src={%  static "assets/js/jssor.slider-27.0.2.min.js" %} type="text/javascript"></script>

        <link rel="shortcut icon" href="{%  static 'favicon.png' %}">

        <!--For Plugins external css-->
        <link rel="stylesheet" href={% static 'assets/css/plugins.css' %}/>

        <!--Theme custom css -->
        <link rel="stylesheet" href={% static "assets/css/style.css" %}/>

        <!--Theme Responsive css-->
        <link rel="stylesheet" href={% static "assets/css/responsive.css"%} />

        <script src={% static "assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}></script>
    </head>
    <body style="background-color: #1f1f1f; border: 0px solid black"  data-spy="scroll" data-target=".navbar-collapse">
     <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_SlideshowTransitions = [
              {$Duration:800,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:800,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $Cols: 1,
              $Align: 0,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 5,
                $SpacingX: 5,
                $SpacingY: 5,
                $Align: 390
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 106 css*/
        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#fff;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
    </style>     <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->





        <section id="home" class="home" >


<video autoplay loop muted  style=" position: fixed; right: 0;top: 0; min-width: 100%; min-height: 100%; ">
                 <source src={% static 'mainvideo.mp4' %}  type="video/mp4" >
                 Your browser does not support the video tag.
</video>
 <header id="main_menu"  class="header navbar-fixed-top">
            <div class="main_menu_bg" style="opacity: 1">
                <div class="container" style="opacity: 1">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default"  id="navmenu">
                                <div class="container-fluid" style="opacity: 1" >
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#home">
                                            <img src="../static/assets/css/images/logo.png"/>
                                        </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->



                                    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-center" >
                                            <li><a href="#home">Home</a></li>
                                            <li><a href="#service">Events</a></li>
                                            <li><a href="#portfolio">Gallery</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
        </header> <!--End of header -->


        <section id="home" style="min-height: 45vw; background-color: transparent" class="contact col-sm-12">



        </section>






        <section id="service"  class="contact col-xs-12">

<div class="head_title text-center">
    <br>
    <br>
    <br>
    <br>
    <br>

                            <h2>Events</h2>
                        </div>
            <div class="col-sm-1"></div>
        <div class="col-sm-9">
                                                                                {%  for event in all_events  %}
                            <div class="col-sm-4 mix cat1 cat2  basiani" >
                                <div class="single_mixi_portfolio ">
                                    <h3  class="event_title" >{{ event.time }}</h3>
                                    <img class="hovered_overlay"  style="height: 35vw "  src={{ event.event_logo }} alt="" />
                                    <div class="mixi_portfolio_overlay" >
                                        <div class="overflow_hover_text" onclick="location.href='/music/'+{{ event.id }}" >
                                            <p class="info" onclick="location.href='/music/'+{{ event.id }}">{{ event.event_artist }}<p>
                                            <p class="info">{{ event.event_stage1_name }}<p>
                                            {% for i in event.event_stage1_artists  %}
                                                                                        <p class="info">{{ i }}<p>
                                            {% endfor %}
                                                                            <a href="https://www.facebook.com/halltallinn/"><i class="fa fa-facebook"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                                {% endfor %}
</div>
        </section>
<section id="gallery" class ="contact col-xs-12">

<div class="head_title text-center">
        <br>
    <br>
    <br>
    <br>
    <br>
                        </div>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:680px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:580px;overflow:hidden;">
            {% for gallery in all_galleries %}
            <div data-p="170.00">


                <img data-u="image" src={{  gallery.picture }} />
                <img data-u="thumb" src={{  gallery.picture }} />
            </div>
           {% endfor %}

        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;" data-autocenter="1" data-scale-bottom="0.75">
            <div data-u="slides">
                <div data-u="prototype" class="p" style="width:190px;height:90px;">
                    <div data-u="thumbnailtemplate" class="t"></div>
                    <svg viewbox="0 0 16000 16000" class="cv">
                        <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                        <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                        <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
    <!-- #endregion Jssor Slider End -->
</section>

        <section id="contact"  class="contact col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="main_contact sections">
                        <div class="head_title text-center">

                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>-->
                        </div>

                        <div class="row">

                            <div class="contact_contant">
                                <div class="col-sm-6 col-xs-12">
                                                                <h3 class="centeringthisshit">Get in Touch</h3>

                                    <div class="single_contant_left">
                                        <form action="#" id="formid">
                                            <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Full Name" required="">
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                            </div>

                                            <div class="form-group">
                                                <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                                            </div>

                                            <div class="">
                                                <input type="submit" value="Send" class="btn btn-primary">
                                            </div>
                                            <!--</div>--> 
                                        </form>
                                    </div>
                                </div>


                                <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                                    <div class="single_message_right_info">
                                        <h4>Info :</h4>
                                        <ul>
                                            <li><a href="https://goo.gl/maps/BHb8DTKMcvC2"><i class="fa fa-home"></i> Peetri 6, 10416 Tallinn, Estonia
                                                    </a></li>
                                            <li><a href=""><i class="fa fa-phone"></i> 5331 5115</a></li>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2027.935581209438!2d24.726757451520957!3d59.45082548161171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469293781ac5fd37%3A0x217a9057f9324860!2sPeetri+6%2C+P%C3%B5hja-Tallinn%2C+P%C3%B5hja-Tallinna%2C+10411+Harju+maakond!5e0!3m2!1sen!2see!4v1518083807698"
                                                    width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- End of messsage content-->
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <footer id="footer" class="footer">
            <div class="container">
                <div class="main_footer">
                    <div class="row">

                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright_text">
                                <p class=" wow fadeInRight" data-wow-duration="1s"><i class="fa fa-copyright"></i> Pantom100 2018. All Rights Reserved</p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="footer_socail">
                                <a href="https://www.facebook.com/halltallinn/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/halltallinn/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src={% static "assets/js/vendor/jquery-1.11.2.min.js" %}></script>
        <script src={% static "assets/js/vendor/bootstrap.min.js" %} ></script>

        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.mixitup.min.js" %} ></script>
        <script src={% static "assets/js/jquery.easing.1.3.js" %}></script>

        <script src={% static "assets/js/plugins.js" %}></script>
        <script src={% static "assets/js/main.js" %}></script>

    </body>
</html>
